<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>

</head>
<body>
    <h1>Here is your post in details</h1>
    <p>Post id: <%=post.id %> </p>
    <div class="post">
        <h3 class="user">@<%= post.username%></h3>
        <h4><%=post.content%></h4>
    <a href="http://localhost:8080/posts/<%=post.id%>">see in details</a>
    <a href="http://localhost:8080/posts/<%=post.id%>">edit the content</a>
    </div>

</body>
</html>